body{
    text-align: center;
    font-size: 20px;
}

.error{
    color: rgb(214, 11, 11);
    
}

input{
    background-color: rgb(229, 229, 238);
    border: 1px solid rgb(246, 241, 241) ;
}

.fname,.lname,.mob,.mail,.start,.call_date,.call,.age{
    display: inline-block;
    text-align: left;
}
.stud{
    display: inline-block;
    text-align: left;
    width: 60%;
}

#btn{
    background-color: rgb(94, 7, 163);
    color: white;
    width: 20%;
    cursor: pointer;
}

/* span{
    font-size: 13px;
    color: rgb(117, 117, 117);
} */

.fname {
     width : 32%;
}

#fname, #lname,#mobile,#mail,#age{
    line-height: 3em;
    width: 30em;
    border-radius: 8px;
    padding-left: 20px;
    cursor: text;
}

#startDate,#dateForCall,#time{
    line-height: 3em;
    width: 30em;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}


.mob{
    width: 32%;
}
.start{
    width: 32%;
}
.call{
    width: 32%;
}
#comment{
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 15px;
    width: 100%;
    max-width: 95%;
    cursor: text;
}
#btn{
    line-height: 3em;
    width: 20em;
}

.required{
    font-size: 19px;
    color: red;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}